fastapi "uvicorn[standard]" python-dotenv google-generativeai pydantic certifi "motor[asyncio]" "pymongo[srv]"
"python-multipart" "PyMuPDF" "python-docx" "python-pptx"

npx create-next-app@latest . --typescript --eslint --tailwind --src-dir --app --import-alias "@/*"

npm install antd @ant-design/cssinjs @tanstack/react-query axios chart.js react-chartjs-2
